@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
  margin: 0;
  text-align: center;
  font-family: 'Press Start 2P', cursive;
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(78, 192, 202, .3);
  color: #E9FCD9;
  height: 100vh;
  box-sizing: border-box;
}

header {
  margin: 0 auto;
  width: 431px;
}

h1 {
  background: url("flappy-bird-set.png") 0% 340px;
  padding: 1.2rem 0;
  margin: 0;
  display: none;
}

.score-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 6px;
  background: rgb(94, 226, 112, .9);
}
